<!DOCTYPE html>
<style type="text/css">
            .error {
                color: red;
            }
        </style>
<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
